@media (max-width: 640px) {
    .slidar {
        width: 10vh; /*20vh*/
        height: 40vh;
        margin: auto;
        overflow: hidden;
    }
  }


  
  @media (min-width: 641px) and (max-width: 768px) {
    .slidar {
        width: 10vh; /*20vh*/
        height: 40vh;
        margin: auto;
        overflow: hidden;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    
.slidar {
        width: 10vh; /*20vh*/
        height: 56vh;
        margin: auto;
        overflow: hidden;
}
  }
  
  @media (min-width: 1025px) {
    .slidar {
        width: 20vh;
        height: 62vh;
        margin: auto;
        overflow: hidden;
    }
  }

  @media (min-width: 1075px) {
    .slidar {
        width: 20vh;
        height: 82vh;
        margin: auto;
        overflow: hidden;
    }
  }


.slidar .slida-track {
    display: flex;
    flex-direction: column;
    animation: slida 40s linear infinite;
    -webkit-animation: slida 40s linear infinite;
    width: 200px;
    height: calc(200px * 14);
}

.slidar .slida {
    width: 200px;
    height: 200px;
}

@media (max-width: 640px) {
    .slidar .slida img {
        width: 32%;
        height: 20%;
    }
  }

@media (min-width: 641px) and (max-width: 768px) {
    .slidar .slida img {
        width: 32%;
        height: 20%;
    }
  }

@media (min-width: 769px) and (max-width: 1024px) {
    
    .slidar .slida img {
        width: 30%;
        height: 20%;
    }
      }

@media (min-width: 1025px) {
    .slidar .slida img {
        width: 70%;
        height: 45%;
    }
  }

  @media (min-width: 1075px) {
    .slidar .slida img {
        width: 60%;
        height: 35%;
    }
  }


@keyframes slida {
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    0% {
        -webkit-transform: translateY(calc(-200px * 7));
        transform: translateY(calc(-200px * 7));
    }
}