.slidar {
    width: 25vh;
    height: 65vh;
    margin: auto;
    overflow: hidden;
}

.slidar .slida-track {
    display: flex;
    flex-direction: column;
    animation: slida 40s linear infinite;
    -webkit-animation: slida 40s linear infinite;
    width: 200px;
    height: calc(200px * 14);
}

.slidar .slida {
    width: 200px;
    height: 200px;
}

.slidar .slida img {
    width: 75%;
    height: 50%;
}

@keyframes slida {
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    0% {
        -webkit-transform: translateY(calc(-200px * 7));
        transform: translateY(calc(-200px * 7));
    }
}