.slider {
    width: 20vh; /*20vh*/
    height: 65vh;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    flex-direction: column;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: 200px;
    height: calc(200px * 14);
}

.slider .slide {
    width: 200px;
    height: 200px;
}

.slider .slide img {
    width: 75%;
    height: 50%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(calc(-200px * 7));
        transform: translateY(calc(-200px * 7));
    }
}