.carrusel {                    /*slider */ 
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.carrusel .carru-video {         /*.clider .clide-track*/
    display: flex;
    animation: carru 40s linear infinite;
    -webkit-animation: carru 40s linear infinite;
    width: calc(200px * 14);
}

.carrusel .carru {
    width: 200px;
}

.carrusel .carru img {
    width: 100%;
}

@keyframes carru {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}


